.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  .site-nav {
    ul {
      display: inline-block;
      float: left;
      padding-top: $padding-small;
      text-align: left;
      width: 100%;
    }
  }
}